* {
    box-sizing: border-box; 
}

form div {
    margin-top: 20px;
}

label {
    display: block;
    text-align: justify;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

input, select {
    width: 400px;
    height: 50px;
    font-size: 18px;
    outline: 0;
    border: 1px solid slategrey;
    margin-top: 5px;
}

input:hover, select:hover, textarea:hover {
    border: 2px solid rgb(143, 143, 143);
}


input[type=checkbox], .declarationLabel {
    display: inline;
    font-weight: unset;
    width: auto;
    height: auto;
    font-size: 15px;
}

textarea {
    resize:none;
    width: 400px;
    height: 300px;
    font-size:18px;
}

button {
    width: 90px;
    height: 30px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    background: rgb(202, 200, 200);
    border: 1px solid rgb(231, 229, 229)
}